html {
  font-size: 22px;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: #000;
  /* opacity: 0.9; */
  /* margin: auto; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* text-align: center; */
  color: gray;
  
}

main {
  position: relative;
  /* margin: auto; */
}


header {
  width: 100%;
  max-width: 1200px;
  /* margin: auto; */
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  height: 69px;
  border-bottom: 1px solid seashell;
  width: inherit;
  max-width: inherit;
  
  z-index: 10;
}

#header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  width: 50%;
  
  border: 1px solid red;
}

#logo{
  width: 50%;
  height: 50px;
  overflow: hidden;
  border: 1px solid green;
  display: flex;
  place-items: center;
  place-content: center;
  /* padding-top: 0.3rem;
  padding-left: 0.455rem; */
}

#logo img {
  max-width: 70%;
  height: auto;
  display: block;
  
  justify-content: center;
  align-items: center;
  /* padding: 0 .3rem; */
  
}



#header-nav a {
  font-size: 0.8rem;
  margin: 0.8rem;
  color: gray;
}

#mission {
  background-image: url("./img-mission-background.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.9;
  height: 700px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;

  display: flex;
  place-content: center;
}

#mission .mission-div {
  background-color: black;
  text-align: center;
  height: 15%;
}

#mission .mission-div h4 {
  margin: 0.3rem;
}

#mission .mission-div h2 {
  margin-top: 0.3rem;
}

#featured-tea {
  /* background-color: #fff; */
  
  max-width: 1200px;
}

#featured-tea-div {
  width: 83%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  margin: auto;
}
#featured-tea-images {
  width: 100%;
  overflow: hidden;
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
}

#featured-tea-images figure {
  width: 30%;
  margin: 0.4rem;
  text-align: center;
  font-size: 0.76rem;
  font-weight: 600;
}

#featured-tea-images figure img {
  max-width: 100%;
  height: auto;
  display: block;
}

#featured-tea-images figure figcaption {
  
  height: auto;
  display: block;
  margin: 0.455rem;
}

#locations {
  background-image: url("./img-locations-background.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1200px;
  /* height: 500px; */
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  height: 700px;
  align-items: center;
  
  /* width: 83%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  margin: auto; */

}




#locations > h2 {
  font-size: 1.2em;
  opacity: 1;
  
}


#locations .locations-div {
  width: 83%;
  
  display: inline-flex;
  justify-content: center;
  /* align-items: center; */
  
}


.locations-div .container {
  width: 100%;
  height: auto;
  overflow: hidden;
  display: inline-flex;
  justify-content: center;
  
  /* border: 1px solid red; */
  margin: 1.8em;
  background-color: black;
}

.locations-div .container div{
  max-width: 100%;
  height: auto;
  /* display: block; */
  text-align: center;
  /* font-weight: 600; */
 
 
}


.locations-div .container h4{
  font-size: 0.7em;
  }

  .locations-div .container h3{
    font-size: 0.9em;
    }

#contact-section {
  width: 100%;
  max-width: 1200px;
  text-align: center;
  height: 200px;
  border: 1px solid red;
  position: absolute;
  bottom: 0;
 z-index: 10;
 background-color: #000;
}


.contact-section-h2 {
  font-size: 1.1em;
}

#contact-section h5 {
  font-size: .6em;
}



footer .copyright {
  /* float: left; */
  font-size: .6rem;
  margin-left: 0.9em;
  margin-top: .4em;
}

@media only screen and (max-width: 600px) {
   #locations .locations-div {
    width: 100%;
    height: 500px;
    display: block;
    justify-content: center;
    align-items: center; 
    
  }
}